
<div>
    <h1>{{element.name}}</h1>
    <div>
        <p>
            <strong *ngIf="element.type =='server'" style="color: red;">{{element.content}}</strong>
            <em *ngIf="element.type == 'blueprint'">{{element.content}}</em>
        </p>
    </div>
</div>

<div>
    <p class="card-text" [hidden]="false">Arjun</p>
    <br>
    <button class="btn" (click)="cooking($event)">Tell Me</button>
    <br>
    <input (click)="onClick($event)">  <p>{{values}}</p> 
    <br>
    <input (click)="onkey($event)">  <p>{{values2}}</p> 

    <input type="text" #name placeholder="Your name" />  
    <button type="button" (click)="submitName(name.value)">Submit Name</button> 


    <br>
    <input [(ngModel)]="fullName">  <p>{{fullName}}</p> 


    <img src="{{imagepath}}" width="300px" height="150px" alt="image not found">
    <img [src]="imagepath" width="300px" height="150px" alt="image not found"> 
    <img bind-src="imagepath" width="100px" height="100px" alt="image not found"> 
</div>